<app-tally-row 
    [tallyPos]="['President', 'Vice President', 'Secretary']"
    [columns]="['party', 'name', 'votes']">
</app-tally-row>

<app-tally-row 
    [tallyPos]="['Auditor', 'Treasurer', 'PIO']"
    [columns]="['party', 'name', 'votes']">
</app-tally-row>

<app-tally-row 
    [tallyPos]="['G7 Representative', 'G8 Representative', 'G9 Representative']"
    [columns]="['party', 'name', 'votes']">
</app-tally-row>

<app-tally-row 
    [tallyPos]="['G7 Representative', 'G8 Representative', 'G9 Representative']"
    [columns]="['party', 'name', 'votes']">
</app-tally-row>