<div style=" width:100%; margin:auto ;color: #2e2e27;" >
  <br><br><br>

  <h1 style="text-align:center">About Us</h1>
  <br><br>

  <div style="width: 33.33%;  text-align:center; float: left;"> 
    <img src="assets/pink.png" alt="" style="width:30%; height: 40%; border-radius: 50%;">
    <p> Carl Justine G. Mosquida</p>
    <p>Frontend Developer</p>
  </div>
  <div style="width: 33.33%; text-align:center; float: left;"> 
    <img src="assets/violet.png" alt="" style="width:30%; height: 40%; border-radius: 50%;">
    <p> Ms. Jennifer M. Laag</p>
    <p>Project Adviser</p>
<br><br><br>
    <button class="btn-black" [routerLink]="['/']">Back to Home</button>
  </div>
  <div style="width: 33.33%; text-align:center; float: left;"> 
    <img src="assets/orange.png" alt="" style="width:30%; height: 40%; border-radius: 50%;">
    <p> Xander Dwight E. Martinez</p>
    <p>Backend Developer</p>
  </div>
</div>
<br>




