<app-navbar></app-navbar>

<div style="width: 80%; margin: auto;">
<div class="container">
    <mat-card class="example-card" style="margin:10%; background-color: black;  ">
        <br><br>
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Administrator</mat-card-title>
            <mat-card-subtitle>@tnts</mat-card-subtitle>
        </mat-card-header>
        <br><br>
         <div style="width:70%;   margin: auto;">  
            <form (submit)="onLoginMethod()">
              <mat-form-field required style="width: 100%;">
                <input matInput [(ngModel)]="username" name="username" placeholder="Username">
              </mat-form-field>

              <mat-form-field required style="width: 100%;">
                 <input matInput type="password" [(ngModel)]="password" name="password" placeholder="Password">
              </mat-form-field>
              <br><br>
                <button style="display: block; width: 100%; background-color: green; color:white;"type="submit" mat-flat-button  >Submit</button>
            </form>
         </div>
         
         <br><br>
    </mat-card>     
</div>
</div>


