
<mat-card style="background-color: #33333d;">

	<form (submit)="search()">
		<mat-form-field style="display: inline-block; width: 20%; ">
				<mat-select #year="ngModel" matInput [(ngModel)]="paramType"  name="gradeLevel" placeholder="Search by"  required>
					<mat-option value="LRN" selected>LRN</mat-option>
					<mat-option value="Full Name">Full Name</mat-option>
					<mat-option value="Grade Level">Grade Level</mat-option>
					<mat-option value="Section">Section</mat-option>
				</mat-select>
		</mat-form-field>

		&nbsp;&nbsp;&nbsp;

		<mat-form-field style="width: 65%;">
			<input matInput [(ngModel)]="paramValue" name="paramValue" placeholder="Student's {{paramType}}" required>
		</mat-form-field>
		&nbsp;&nbsp;
		<button class="btn-success" type="submit">Search</button>
	</form> 

</mat-card>
<div *ngIf="data != null">
	<h2>Search Results:</h2>
	<mat-card *ngFor="let voter of data" style="display: inline-block; width: 30%; margin:0.33%;">
		<p>Name: {{voter.fullName}}</p>
		<p>Grade: {{voter.gradeLevel}}</p>
		<p>Section: {{voter.section}}</p>
		<p>LRN: {{voter.lrn}}</p>
		<button *ngIf="!voter.canVote else canVote" (click)="activate(voter)" class="btn-success" style="width: 100%;">Activate Voter</button>
		<ng-template #canVote>
				<button (click)="activate(voter)" class="btn-info" style="width: 100%;">Deactive Voter</button>
		</ng-template>
	</mat-card>
</div>