<div *ngIf=" electionStatus; else noElection ">
    <div *ngIf = " electionStarted; else notStarted">
    	 
		  <mat-toolbar color="primary">
			  <button mat-icon-button [matMenuTriggerFor]="menu">
			    <mat-icon>sort</mat-icon>
			  </button>
			  <h5>DWYTE-VORTEX VOTING SYSTEM</h5>
			  <span style="flex: 1 1 auto;"></span>
			  <mat-slide-toggle (change)="onChange()" color="warn">
				<span >
					<div *ngIf="theme; else whiteTheme">
					  <small style="color: white;">Enable White Theme</small>
					</div>

					<ng-template #whiteTheme>
				      <small style="color: white;">Disable White Theme</small>  
					</ng-template>
				</span>
		  	</mat-slide-toggle>
		</mat-toolbar> 
		<mat-menu #menu="matMenu">
			<button mat-menu-item>
				<mat-icon>dialpad</mat-icon>
			    <span>About Us</span>
			</button>
		</mat-menu>

			<div *ngIf= " bodytheme; else whitethemed">
				<div style="width: auto;height: auto; ">
					<div style="width: 50 float:left; ">
						<mat-card style="width: 40%; height: 80%; float:left; margin: 5%; background-color: rgba(0,0,0,0.8); border: #d3d3d3 0.4px solid; border-radius: 3px;">
							<form (submit)="userForm.form.valid && onSubmit(userForm)" #userForm="ngForm" style="margin-left: 5%; margin-right: 5%;">
								<br><br>

								<p style="text-align: center;">Vote with your valid credentials
									<span><br><small style="text-align: center;">Don't worry your data is secured with us</small></span>
								</p>
								
								<br><br> 
								
								<mat-form-field style="width: 100%;">
						    		<input matInput #name="ngModel" [(ngModel)]="fullName" name="fullName" placeholder="Name" required>
						    	</mat-form-field>
						    	
						    	<div *ngIf="userForm.submitted && name.invalid" class="btn-info">
					                <div *ngIf="name.errors.required"> Your name is required</div>
					            </div>
					            <br>
						    	<mat-form-field style=" width:100%;">
						    		<input matInput #studentlrn="ngModel" [(ngModel)]="lrn" name="lrn" placeholder="LRN" type="number" required>
						    	</mat-form-field>
						    	
						    	<div *ngIf="userForm.submitted && studentlrn.invalid" class="btn-info">			            	
					                <div *ngIf="studentlrn.errors.required"> Your lrn is required</div>
					            </div>
						    	<br><br>
						   
						    	<mat-form-field style="display: inline-block; width: 48%; ">
								  <mat-select #year="ngModel" matInput [(ngModel)]="gradeLevel"  name="gradeLevel" placeholder="Year Level"  required>
								    <mat-option value=7>Grade 7</mat-option>
								    <mat-option value=8>Grade 8</mat-option>
								    <mat-option value=9>Grade 9</mat-option>
								    <mat-option value=10>Grade 10</mat-option>
								    <mat-option value=11>Grade 11</mat-option>
								    <mat-option value=12>Grade 12</mat-option>
								  </mat-select>
								</mat-form-field> 
					           	 	&nbsp;&nbsp;
								
						    	<mat-form-field style=" display: inline-block; width: 48%;">
						    		<input #studentSection="ngModel" matInput [(ngModel)]="section" name="section" placeholder="Section" required>
						    	</mat-form-field>

						    	<div *ngIf="userForm.submitted && year.invalid" class="btn-info">
					                <div *ngIf="year.errors.required">Your year level is required</div>
					            </div>

					            <br>
						    	<div *ngIf="userForm.submitted && studentSection.invalid" class="btn-info"> 
					               <div *ngIf="studentSection.errors.required"> Your section is required</div>
					            </div>
						
						    	<br><br>
						    	<button style="display: block; width: 100%; background-color: green; color:white;"type="submit" mat-flat-button  >Submit</button>
						    	<br><br>
						    </form>	 
						</mat-card>
					</div>

					<div style=" width: 40%; float: right; margin-right: 5%; ">
						<br><br>
						<p style="text-align: center; font-size: 20px; color: white;">TNTS COMELEC SYSTEM
							<span>
								<br>
								<small style="text-align: center;"> Welcome to our official SSG Election</small>
							</span>
						</p>
						<br><br>
						<img src="assets/computer.png" width="100%;">
					</div>
				</div>
			</div>

			<ng-template #whitethemed>
				<div style="width: 100%;height: 95%; ">
					<div style="width: auto;height: auto; ">
						<div style="width: 50 float:left; ">
							<mat-card style="width: 40%; height: 80%; float:left; margin: 5%; background-color: rgba(0,0,0,0.8); border: #d3d3d3 0.4px solid; border-radius: 3px;">
								<form (submit)="userForm.form.valid && onSubmit(userForm)" #userForm="ngForm" style="margin-left: 5%; margin-right: 5%;">
									<br><br>

									<p style="text-align: center;">Vote with your valid credentials
										<span><br><small style="text-align: center;">Don't worry your data is secured with us</small></span>
									</p>
									
									<br><br> 
									
									<mat-form-field style="width: 100%;">
							    		<input matInput #name="ngModel" [(ngModel)]="fullName" name="fullName" placeholder="Name" required>
							    	</mat-form-field>
							    	
							    	<div *ngIf="userForm.submitted && name.invalid" class="btn-info">
						                <div *ngIf="name.errors.required"> Your name is required</div>
						            </div>
						            <br>
							    	<mat-form-field style=" width:100%;">
							    		<input matInput #studentlrn="ngModel" [(ngModel)]="lrn" name="lrn" placeholder="LRN" type="number" required>
							    	</mat-form-field>
							    	
							    	<div *ngIf="userForm.submitted && studentlrn.invalid" class="btn-info">			            	
						                <div *ngIf="studentlrn.errors.required"> Your lrn is required</div>
						            </div>
							    	<br><br>
							   
							    	<mat-form-field style="display: inline-block; width: 48%; ">
									  <mat-select #year="ngModel" matInput [(ngModel)]="gradeLevel"  name="gradeLevel" placeholder="Year Level"  required>
									    <mat-option value=7>Grade 7</mat-option>
									    <mat-option value=8>Grade 8</mat-option>
									    <mat-option value=9>Grade 9</mat-option>
									    <mat-option value=10>Grade 10</mat-option>
									    <mat-option value=11>Grade 11</mat-option>
									    <mat-option value=12>Grade 12</mat-option>
									  </mat-select>
									</mat-form-field> 
						           	 	&nbsp;&nbsp;
									
							    	<mat-form-field style=" display: inline-block; width: 48%;">
							    		<input #studentSection="ngModel" matInput [(ngModel)]="section" name="section" placeholder="Section" required>
							    	</mat-form-field>

							    	<div *ngIf="userForm.submitted && year.invalid" class="btn-info">
						                <div *ngIf="year.errors.required">Your year level is required</div>
						            </div>

						            <br>
							    	<div *ngIf="userForm.submitted && studentSection.invalid" class="btn-info"> 
						               <div *ngIf="studentSection.errors.required"> Your section is required</div>
						            </div>
							
							    	<br><br>
							    	<button style="display: block; width: 100%; background-color: green; color:white;"type="submit" mat-flat-button  >Submit</button>
							    	<br><br>
							    </form>	 
							</mat-card>
						</div>

						<div style=" width: 40%; float: right; margin-right: 5%; ">
							<br><br>
							<p style="text-align: center; font-size: 20px; color: black;">TNTS COMELEC SYSTEM
								<span>
									<br>
									<small style="text-align: center; color:black;"> Welcome to ou rofficial SSG Election</small>
								</span>
							</p>
							<br><br>
							<img src="assets/computer.png" width="100%;">
						</div>
					</div>
				</div>
			</ng-template>
	</div>
    <ng-template #notStarted>
    	Election not started
    </ng-template>
</div>

<ng-template #noElection>
	NO election contact admin
</ng-template> 